body{
    font-family: 'Georgia', serif;
    color:#3E4349;
}

#nav {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 10em;
}

#content {
    margin-left: 10em;
    width: 70%;
}

#flash {
    font-family: 'Georgia', serif;
    color:#3E4349;
}

td:hover {
background:rgba(0,0,0,1);
}

tr:hover {
background:rgba(0,0,0,1);
}