{% extends "base.html" %}
{% block body %}
    <h2>Wikipedia Edit Profiler</h2>
    Enter a wikiurl to profile:
    <br />
    <br />
    <i>A wikiurl is the unique portion of a wikipedia URL: everything that appears after "http://en.wikipedia.org/wiki/" e.g. Sonic_Youth. 
    <br />
    <br />
    <img src="http://i.imgur.com/sVq4b.png" alt="" title="wikipedia url with portion of interest highlighted" />
    <br />
    <br />
    <i>This is the beta version of the code over <a href="evening-shelf-5238.herokuapp.com">here</a>. Most inputs make the code barf. Pages created in the past year or two should be okay. "Phycosiphon" works, for example. I'm sharing this broken code since it does some visualization which will eventually be integrated into the main branch. If you know how to implement background workers in Flask, or see any other glaring flaws in <a href="https://github.com/mlincoln/wikieditprof/tree/beta">the source</a>, get in touch.</i>
    <br />
    <br />
    <form action="{{url_for('remote')}}" method="post">
        <input type="text" name="expression" />
        <input type="submit" value="Execute" />
    </form>
        {% if result %}
            Results:
            <pre>
            <div id="result">
                {{ result }}
            </div>
            </pre>
        {% endif %}
{% endblock %}
